<div class="container-fluid">
  <div class="jumbotron">
    <div class="row">

      <div class="col-md-7">
        <h2><em>Quotes</em></h2>
        <hr>
        <div *ngFor='let quote of quotes; let i = index'>
          <div class="individual-quote">
            <h5><em>Quote:</em></h5>
            <p id="{{i}}" appHighlight> <em>"{{quote.quote}}"</em> uploaded {{quote.date|dateCounter}} days ago</p>

            <app-quote-details [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="fixed">
          <h2> <em>New Quote</em> </h2>
          <hr>
          <app-form (addQuote)="addNewQuote($event)"></app-form>
        </div>
      </div>
    </div>
  </div>
</div>
