h2,
h3 {
  text-align: center;
  margin-top: 5px;
  padding: 5px;
  background-color: salmon;
  border-radius: 5px;
  color: white;
}

.container-fluid {
  padding: 2%;
  
}

.individual-quote {
  border: 1px solid grey;
  border-radius: 5px;
  width: 45%;
  padding: 10px;
  margin: 2%;
  box-shadow: 3px 3px 3px grey;
  background-color: rgba(92, 71, 71, 0.6);
  text-align: center;
  float: left;

}

.col-md-3,
.col-md-7 {
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 3px 3px 3px grey;
  margin-left: 3%;
  padding: 3%;
}

.col-md-3 {
  background-color: rgba(255, 255, 255, 0.9);
}

.col-md-7 {
  background-image: url('https://www.pexels.com/photo/shallow-photography-of-life-is-short-enjoy-your-coffee-signage-888992/');
  background-size: cover;
  background-repeat: no-repeat;
}

h5 {
  background-color: #17a2b8;
  color: white;
  padding: 1%;
}

@media only screen and (min-width: 812px) {
  .fixed {
    position: fixed;
    top: auto;
    right: auto;
  }
}

